mixin boardBlock(board={})
    script.
        var mapContainer = document.getElementById("map")
        var mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level:3
        }

        var map = new kakao.maps.Map(mapContainer, mapOption);
        var latlng = new kakao.maps.LatLng(#{board.latitude}, #{board.longitude});
        var marker = new kakao.maps.Marker({
            map:map,
            position: latlng
        })

        var infoWindow = new kakao.maps.InfoWindow({
            content: #{board.title}
        });
    .boardBlock
        h6.boardBlock__vie #{board.title}
        h6.boardBlock__vie #{board.author}
        h6.boardBlock__views #{board.latitude} 