extends layouts/map

block content
    div(class="container")
        div(class="write-header")
            h3(class="post-title") #{posting.title}
            div(class="info")
                h3(id="auth") 저자 | #{posting.author}
                h6(id="date") #{posting.date}
        br
        div(class="contents")
            img(src=`/uploads/${posting.image}` alt="/templates/files/unnamed.gif" class="read_img")
            h4(class="content") #{posting.body}
        a(href=`/api/pdf/${posting.id}` download=`${posting.title}.pdf` class="btn btn-sm btn-success btn-board") pdf 다운로드
        br
        button(class="btn btn-sm btn-success btn-board" id="delete" type="submit" value="DELETEING") 삭제하기
    script.
        function getDelete(){
            $.ajax({
                async:false,
                type:"delete",
                url: "/board/'!{posting.id}`",
                success:function(res){
                    location.href='../';
                },
                fail:function(res){
                    location.href='../';
                }            
            })
        }
        const button = document.getElementById('delete');
        button.addEventListener("click", getDelete);
