extends layouts/main

block content
    p
        label 제목 : #{posting.title}
    p
        label 본문 : #{posting.body}
    p
        label 저자 : #{posting.author}
    p
        label 날짜 : #{posting.date}
    br
    
    img(src=`/uploads/${posting.image}` alt="No image", style={width:'300px', height:'350px'})

    form(action="/board/#{posting.id}/delete", method="get")
        input(type="submit", value="delete")
